/* 
Palette Color
Primary
Principal: #616161
Light: #8e8e8e
Dark: #373737

Secondary 
Principal: #b71c1c
Light: #f05545
Dark: #7f0000

Text #ffffff
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    font-family: 'Big Shoulders Stencil Text', cursive;
    text-align: center;
}
body{
    height: 100vh;
    width: 100%;
    margin: auto;
    color: #ffffff;
}
header{
    height: 10vh;
}
nav{
    top: 0;
    position : fixed;
    z-index: 9999;
    background-color: rgb(20, 20, 20);
    color: #ffffff;
    width: 100%;
    padding: 0.5vh;
    height: 10vh;
}
nav  img{
    height: 8vh;
}
nav ul {
    float: right;
    margin-top: 1vh;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    flex-direction: row-reverse !important;
    display: inline-block !important;
}
nav ul li{
    padding: 1.5vh;
}
ul li a{
    height: 1vh;
    color: #ffffff;
}
#navbarNav ul li a:hover{
    color: #f05545;
}

section{
    padding-top: 2vh;
    padding-bottom: 3vh;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
footer{
    height: 5vh;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer a img{
    width: 4vh;
    margin: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}
footer a :hover{
    width: 5vh;
    margin: 0vh;
    transition: 0.2s;
}
.footer2{
    
    height: 20vh;
    width: 100%;
    text-align: left;
    position: fixed;
    vertical-align: auto;
    bottom: 40vh;
}
.centrado{
    align-content: center;
    text-align: center;
}
.espacio{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.inicio{
background-color: #212529;
border-radius: 0;
margin-bottom: 0;
}
.bodyinicio{
    z-index: 9999;
    background-color: #212529;
    background-image: none;
}

.historia{
    text-align: justify;
}
.disco{
    width: 40vh;
    margin: 0vh;
}
hr{
    color: #7f0000;
    opacity: 1;
    border-radius: 10vh;
    border: 0.3vh;
    border-style: solid;
}
.carousel-inner img{
    object-fit: cover ;
    object-position: top;
    height: 65vh;
    margin-bottom: 0;
    width: 100%;
}
.carousel-inner{
    margin: 0;
}
.splash{

    padding-bottom: 3vh;
    text-align: center;
    align-content: center;
    
}
.final{
    height: 1vh;
}
.spotify{
    width: 50vh;
    height: 50vh;
    padding: 0;
    margin: 0vh;
    visibility: hidden;
}
.imagendisco:hover .spotify{
    visibility: visible;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.videos iframe{
    width: 90%;
}